# Virtual environment
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables (sirlar: SECRET_KEY, DB parollari, va h.k.)
.env
.env.local
.env.*.local

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Coverage / tests
.coverage
htmlcov/
.pytest_cache/
.tox/
